{% capture nowunix %}{{'now' | date: '%Y%m%d'}}{% endcapture %}  
<div class="events">
  <h3>current and upcoming activities</h3>
  <div class="table-responsive">
        <table class="table table-sm table-borderless">
      {% for event in site.data.events reversed %}
      {% capture posttime %}{{event.date | date: '%Y%m%d'}}{% endcapture %}
      {% if nowunix < posttime %}
        <tr>
          <th scope="row" class="events-date">
            {% if event.start-date %}
              {{ event.start-date | date: "%B %Y" }} - {{ event.date | date: "%B %Y" }} 
            {% else %}
                  {{ event.date | date: "%B %Y" }} 
                {% endif %}
              </th>
                <td>
                  {% if event.url %}
                    <a class="events-title" href="{{ event.url }}">{{ event.title }}</a>
                  {% else %}
                    {{ event.title }}
                  {% endif %}
                  {% if event.location %}
                    <br> <a class="events-location">{{ event.location }}</a>
                  {% endif %}
                </td>
            </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
</div>