/******************************************************************************
 * Content
 ******************************************************************************/

 body {
   padding-bottom: 70px;
   color: $text-color;
 }

 body.fixed-top-nav {
   // Add some padding for the nav-bar.
   padding-top: 66px;
 }

 body.sticky-bottom-footer {
   // Remove padding below footer.
   padding-bottom: 0;
 }

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

code {
  color: $text-color;
}

a.abstract, a.bibtex {
  color: $theme-color !important;
}

body {
  text-align: justify;
}

.address {
  text-align: center;
}

.profile img {
  margin-bottom: 1em;
}

#navbar .container {
  padding-left: 0;
  padding-right: 0;
}

h1 {
  text-align: left;
}

.icon-wrapper div {
  margin-top: 0.25em;
  padding-right: 0.25em;
}

.projects grid {
  align: center;
}

/******************************************************************************
 * Publications
 ******************************************************************************/

// Publications

.publications {
  margin-top: 2rem;
  h2.year {
    color: $grey-color-light;
    border-top: 1px solid $grey-color-light;
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
    font-size: 1.5rem !important;
    line-height: 1.5;
  }
  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0rem;
    margin-bottom: -1rem;
    
  // li:not(:first-child) {
  //  border-top: 1px solid $grey-color-light;
  //  padding-top: 1rem;
  // }
    li:first-child {
      .title {
        margin-right: 4.5rem;
      }
    }
    li {
      margin-bottom: 2rem;
      .abbr {
        margin-bottom: 0.5rem;
        abbr {
          display: inline-block;
          background-color: $cyan-color-light;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
      span {
        display: block;
      }
      .title {
        font-weight: bolder;
      }
      .author {
        // a {
        //  border-bottom: 5px dashed $theme-color;
        //  &:hover {
        //      border-bottom-style: solid;
        //      text-decoration: none;
        //  }
        //}
        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }
      }
      em.star {
        border-bottom: none;
        color: $theme-color;
        font-style: normal;
      }
      a.abstract, a.bibtex {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
      }
      }
      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }
        pre {
          font-size: 0.8em;
          margin: 10px;
        }
      }
      .hidden.open {
        max-height: 100em;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }
      span.abstract.hidden {
        border: dashed 1px white;
      }
      span.abstract.hidden.open {
        border-color: $grey-color;
      }
    }
  }
}



/*****************************************************************************
* Projects
*****************************************************************************/

.projects {
  .grid-item {
    width: 250px;
    margin-bottom: 10px;
    h2 {
      font-size: 16px;
    }
    a {
      color: black;
      text-align: left;
      text-decoration: none;
      &:hover {
        color: $theme-color;
      }
    }
  }
  .card img {
    width: 100%;
  }
}


/*****************************************************************************
* Events
*****************************************************************************/

.events {
  .grid-item {
    width: 380px;
    margin-bottom: 10px;
    h2 {
      font-size: 16px;
    }
    a {
      text-align: left;
      text-decoration: none; 
    }
  }
  .card img {
    width: 100%;
  }
}

