---
---

<div class="row">
  <div class="col-md-3 abbr img-responsive" style="margin: 0 auto;">
  {% if entry.thumbnail %}
    {% if entry.doi %}
      <a href="https://doi.org/{{ entry.doi }}"><img width="150px" src="{{ entry.thumbnail | prepend: '/assets/img/thumbnails/' | relative_url }}"/></a>
    {% elsif entry.arxiv %}
      <a href="http://arxiv.org/abs/{{ entry.arxiv }}"><img width="150px" src="{{ entry.thumbnail | prepend: '/assets/img/thumbnails/' | relative_url }}"/></a>
    {% else %}
      <img width="150px" src="{{ entry.thumbnail | prepend: '/assets/img/thumbnails/' | relative_url }}"/>
    {% endif %}
  {% elsif entry.abbr %}
    {% if site.data.venues[entry.abbr] %}
    <abbr class="badge"><a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a></abbr>
    {% else %}
    <!-- <abbr class="badge">{{entry.abbr}}</abbr> -->
    {% endif %}
  {% endif %}
  </div>

  <div id="{{entry.key}}" class="col-md-9">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <span class="title">{{entry.title}}</span>
      <span class="author">
        {% if entry.author_array.size == 1 %}
          {{author.first}} {{author.last}}
        {% else %}
          with
          {% for author in entry.author_array %}
            {% unless forloop.last %}
              {% if author.last == site.scholar.last_name %}
                <!-- <em>{{author.first}} {{author.last}}</em>, -->
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>,
                {% else %}
                  {{author.first}} {{author.last}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author.last == site.scholar.last_name %}
                <!-- and <em>{{author.first}} {{author.last}}</em> -->
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  and <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>.
                {% else %}
                  and {{author.first}} {{author.last}}.
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endfor %}
        {% endif %}
      </span>
      <span class="periodical">
      {% if entry.type == "article" %}
        {% if entry.journal %}
          <em>{{entry.journal}}, </em>
        {% endif %}
      {% elsif entry.type == "inproceedings" %}
        In:
        {% if entry.editor %}
          {{entry.editor}} (ed.),
        {% endif %}
        <em>{{entry.booktitle}},</em>
      {% endif %}
      {% if entry.volume or entry.number %}
        {% if entry.volume %}{{entry.volume}}{% endif %}{% if entry.number %}({{entry.number}}){% endif %}{% if entry.pages %}:{{entry.pages}},{% endif %}
      {% elsif entry.pages %}
       pp. {{entry.pages}},
      {% endif %}
      {% if entry.year %}
        {% if entry.month %}
          {{entry.month | date: "%B"}}
        {% endif %}
         {{entry.year}}.
      {% endif %}
      {% if entry.note %}
          {{entry.note}}.
        {% endif %}
      </span>
    {% endif %}

    <span class="links">
    {% if entry.abstract %}
      [<a class="abstract">abstract</a>]
    {% endif %}
    {% if entry.doi %}
      [<a href="https://doi.org/{{ entry.doi }}" target="_blank">doi</a>]
    {% endif %}
    {% if entry.arxiv %}
      [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
    {% endif %}
    {% if entry.html %}
      [<a href="{{ entry.html }}" target="_blank">HTML</a>]
    {% endif %}
    {% if entry.pdf %}
      [<a href="{{ entry.pdf }}" target="_blank">pdf</a>]
    {% endif %}
    {% if entry.supp %}
      [<a href="{{ entry.supp }}" target="_blank">supplementary material</a>]
    {% endif %}
    {% if entry.poster %}
      [<a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}" target="_blank">Poster</a>]
    {% endif %}
    <!--
    {% if entry.slides %}
      [<a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}" target="_blank">slides</a>]
    {% endif %}
  -->
    {% if entry.code %}
      [<a href="{{ entry.code }}" target="_blank">Code</a>]
    {% endif %}
    {% if entry.bibtexshow %}
      [<a class="bibtex">bibtex</a>]
    {% endif %}
    </span>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <span class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </span>
    {% endif %}
    {% if entry.bibtexshow %}
    <span class="bibtex hidden">
      <pre>{{ entry.bibtex }}</pre>
    </span>
    {% endif %}
  </div>
</div>